.title {
  margin-top: 20px;
}

.access{
  padding: 0.25em 0.5em;
  border-bottom: solid 3px #87CEEB;
  margin-top: 20px;
}

.map {
    display: block;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.access-text{
  margin-top: 10px;
}