@charset "utf-8";

.intro {
    padding: 3em 0;
}

.intro p {
    margin-top: 1em;
}

.roulette-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-top: 2em;
    border: solid 3px #87CEEB;
    border-radius: 8px;
}

#roulette {
    font-size: 1.3em;
    color: #494949;
}

#roulette-button {
    margin-top: 1em;
    padding: 0.6em 1.2em;
    border: 0;
    border-radius: 6px;
    color: #ffffff;
    background-color: #4f6f9f;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

#roulette-button:hover {
    background-color: #394867;
}
